:root {
  --theme-color: hsl(207, 90%, 54%);
  --theme-vivid: hsl(201, 90%, 40%);
}

body {
  margin: 0;
  padding-top: 4.5rem;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 4.5rem);
}
#main-content {
  flex: 1 0 auto;
}
.page-footer {
  flex-shrink: 0;
}

.page-header .input-field {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.input-field.white {
  background-color: transparent !important;
}
.input-field.white input {
  color: #fafafa;
  border-bottom-color: #fafafa !important;
}
.input-field.white input + label {
  color: #fafafa;
}
.input-field.white input:focus + label {
  color: white !important;
}
/* label underline focus color */
.input-field.white input:focus {
  color: white;
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important;
}
.page-header .input-field input + label.active {
  transform: translateY(-5px) scale(0.8) !important;
}

.input-field.theme input {
  color: var(--theme-color);
  border-bottom-color: var(--theme-color) !important;
}
.input-field.theme input + label {
  color: var(--theme-color);
}
.input-field.theme input:focus + label {
  color: var(--theme-vivid) !important;
}
/* label underline focus color */
.input-field.theme input:focus {
  color: var(--theme-vivid);
  border-bottom: 1px solid var(--theme-vivid) !important;
  box-shadow: 0 1px 0 0 var(--theme-vivid) !important;
}

.input-field.fw-500 input {
  border-bottom-width: 2px !important;
}

.input-field.textarea textarea + label {
  transform: translate(20px, 10px);
}
.input-field.textarea textarea + label.active {
  transform: translate(20px, -20px) scale(0.8) !important;
}
.input-field.textarea textarea {
  padding: 0.5rem 1rem;
  outline: none;
  border: solid 2px var(--theme-color);
  border-radius: 2px;
}
.input-field.textarea label {
  color: var(--theme-color);
}

.search-bar {
  width: 18rem;
}
.page-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4.5rem;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  z-index: 4;
  background-color: var(--theme-color);
}
.page-header > form {
  transform: translateY(0.5rem);
}
.icon {
  display: flex;
  height: 5rem;
}
.icon > .logo-star {
  width: 2rem;
}
.icon > .logo-star path {
  fill: white;
}

.icon > .logo-name {
  width: 7rem;
  margin-left: 0.5rem;
}
.icon > .logo-name path {
  fill: white;
}

.buttons {
  display: flex;
  align-items: center;
}
.btn-white {
  background-color: #fafafa;
  transition: all 0.2s;
  color: #222;
}
.btn-white:hover {
  background-color: #fafafa;
  filter: brightness(90%);
}
.btn-white:focus {
  background-color: #fafafa;
}
.buttons > button:not(:last-child) {
  margin-right: 0.25rem;
}
.page-header .btn-flat {
  color: white;
}

.btn-theme {
  background-color: var(--theme-color);
  transition: all 0.2s;
}
.btn-theme:hover {
  background-color: var(--theme-color);
  filter: brightness(90%);
}
.btn-theme:focus {
  background-color: var(--theme-color);
}

.btn-icon {
  background: none !important;
  border: none !important;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.2s;
}
.btn-icon:hover {
  color: lightgrey;
}
.btn-icon > i.material-icons {
  font-size: 1.15rem;
  margin-left: 0.35rem;
  transform: translateY(0.05rem);
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}

.p-3 {
  padding: 3rem !important;
}
.mt-1 {
  margin-top: 1rem;
}
.h-100 {
  height: 100%;
}
.mh-100 {
  min-height: 100%;
}

.homepage .title {
  width: 100%;
}

.question-card {
  width: 30rem;
  cursor: pointer;
  transition: filter 0.175s;
  margin: 1rem;
}
.question-card:hover {
  filter: brightness(92.5%);
}
.question-card:active {
  filter: brightness(80%);
}
.question-card > .card-content {
  padding-bottom: 0.75rem !important;
}
.question-card .stats,
.question-card .title {
  font-weight: 400;
  font-size: 1.25rem;
  font-size: 1.25rem;
  font-family: Roboto;
  font-weight: 500;
}
.question-card .stats {
  color: #505050;
  margin-top: 0;
}
.question-card .stats small {
  text-transform: uppercase;
}
.question-card .stats > p:first-child {
  margin-right: 1rem;
}
.question-card .time-stamp {
  font-weight: 400;
  font-size: 0.85rem;
  color: #888;
  margin-top: 1.35rem !important;
}

.categories {
  min-height: calc(100vh - 4.5rem) !important;
  height: 100%;
}

.row {
  margin: unset !important;
}

.create-post {
  width: 75%;
  max-width: 45rem;
  padding: 2rem;
  margin: 0 auto;
}
.create-post > form .textarea textarea {
  min-height: 40rem;
}

.fw-500 {
  font-weight: 500;
}

textarea[resize='false'] {
  resize: none;
}

.post-header {
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.page-footer {
  margin-top: auto;
}

.upvote-downvote {
  width: 5.5rem;
  justify-content: space-between;
}
.upvote-downvote > span {
  font-size: 1.2rem;
}
.upvote-downvote.vertical {
  justify-content: center;
  margin-right: 1rem;
}
.upvote-downvote > span {
  font-size: 1rem;
}
.upvote-downvote > i {
  font-size: 2rem;
  transition: color 0.2s;
}
.upvote-downvote.vertical > i {
  font-size: 1.25rem;
}
.upvote-downvote > i:hover {
  color: var(--theme-vivid);
  cursor: pointer;
}

.comment {
  border-top: solid 1px #ccc;
  margin-top: 1.5rem;
}
.comment:last-child {
  border-bottom: solid 1px #ccc;
}

.favorite {
  font-size: 2.8rem !important;
  color: lightgrey;
  display: table !important;
  position: absolute;
  left: -3rem;
  top: calc(50% - 1.1rem);
  cursor: pointer;
}
.favorite.favorited {
  color: gold;
}

.login-signup{
  
}